.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1200px;
  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
  letter-spacing: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* fonts */

.header-nav a,
.shop-cart a,
.slider-btn,
.orderbutton,
.writeus-button,
.popup-submit {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  text-transform: uppercase;
  color: #000000;
}

.slide-title {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
}

.slide-description,
.servicecard p,
.aboutus-description p:nth-child(2),
.aboutus-list li,
.boldnumber-desc,
.percentnumber-discount,
.grid-label,
.features-label {
  color: #283136;
}

.slide-description,
.servicecard p,
.aboutus-description p:nth-child(2),
.aboutus-title,
.aboutus-list,
.our-features h3,
.boldnumber-desc,
.footer-contact p:nth-child(2),
.footer-contact p:nth-child(3),
.percentnumber-discount,
.min-price,
.max-price,
.grid-label,
.features-label,
.project-card-description,
.min-wrapper,
.max-wrapper {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.slider-btn {
  line-height: 1.13;
  color: #ffffff;
}

.our-services-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.orderbutton {
  line-height: 1.13;
  color: #ffffff;
}

.aboutus-description h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.aboutus-title,
.our-features h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.boldnumber1,
.boldnumber2,
.boldnumber3 {
  font-size: 45px;
  font-weight: 700;
  line-height: 0.22;
}

.boldnumber-desc {
  line-height: 1.13;
}

.boldnumber1:after,
.boldnumber2:after,
.boldnumber3:after {
  font-size: 28px;
  font-weight: 500;
}

.footer-contact h3,
.filters-title,
.sorting-title,
.project-card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  text-transform: uppercase;
}

.sorting-title {
  line-height: 1.2;
}

.footer-contact p:nth-child(2),
.footer-contact p:nth-child(3) {
  line-height: 1.13;
  color: #666666;
}

.writeus-button {
  line-height: 1.13;
  color: #ffffff;
}

.friends-discount {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.percentnumber-discount {
  line-height: 1.38;
}

.shop-title h2 {
  font-size: 55px;
  line-height: 55px;
}

.sorting-menu-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-transform: uppercase;
}

.min-wrapper,
.max-wrapper {
  text-transform: uppercase;
}

.min-price,
.max-price {
  line-height: 1.38;
  text-align: center;
}

.grid-label,
.features-label {
  line-height: 1.5;
}

.filters-btn,
.project-button,
.projects-pages-item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-transform: uppercase;
}

.project-card-title {
  color: #000000;
}

.project-card-description {
  line-height: 1;
}

.project-button {
  color: #ffffff;
}

.projects-pages-item a {
  color: #000000;
}

.popup h3 {
  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.popup-submit {
  line-height: 1;
  color: #ffffff;
}

/* index */

header {
  margin: 0 auto;
  background-color: #eeeeee;
}

.header-nav {
  margin-bottom: 10px;
}

.header-nav-active {
  border-bottom: 2px solid red;
  cursor: pointer;
}

.site-logo {
  cursor: pointer;
}

.site-logo:hover {
  opacity: 0.8;
}

.site-logo:active,
.site-logo:focus {
  opacity: 0.3;
}

.nav-panel {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-top: 49px;
  background-color: #eeeeee;
}

.site-navigation-items {
  display: flex;
  justify-content: space-between;
  width: 798px;
  margin-top: 9px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  min-width: 438px;
  padding-left: 0;
}

.header-nav a:hover,
.shop-cart a:hover {
  color: #fb565a;
}

.header-nav a:active,
.shop-cart a:active,
.header-nav a:focus,
.shop-cart a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.shop-cart {
  position: relative;
}

.shop-cart::before {
  content: url(../img/cart-icon.png);
  position: absolute;
  right: 100px;
  top: 8px;
}

.slider-wrapper {
  margin: 0 auto;
  background-color: #eeeeee;
}

.slider {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding-top: 3px;
}

.slides {
  position: relative;
}

.slider-text {
  display: inline-block;
  margin-top: 43px;
  vertical-align: middle;
}

.slide-title {
  margin-top: 25px;
  margin-bottom: 26px;
}

.slide-second .slider-text {
  max-width: 550px;
}

.slider-second .slider-title {
  max-width: 520px;
}

.slide-third .slide-description {
  max-width: 350px;
}

.slider-btn {
  position: absolute;
  bottom: 80px;
  padding: 16px 54px;
  background-color: #fb565a;
  border-radius: 4px;
}

.slider-btn:hover {
  background:#d6494d;
}

.slider-btn:active,
.slider-btn:focus {
  background:#d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 0 #9b2d30 inset;
}

/* slider */

.slide {
  display:none;
  padding-bottom: 72px;
  width: 100%;
  min-height:350px;
}

.slide-first {
  background: url('../img/slide1.png') no-repeat;
}

.slide-second {
  background: url('../img/slide2.png') no-repeat;
}

.slide-third {
  background: url('../img/slide3.png') no-repeat;
}

.slide-first,
.slide-second,
.slide-third {
  background-position-x: 431px;
  background-position-y: 9px;
}

.slide-third {
  background-position-x: 400px;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

.slider input[type=radio] {
  position:absolute;
  opacity:0;
}

.pagination {
  position:absolute;
  bottom: 105px;
  left: 46.1%;
  display: flex;
  justify-content: space-between;
  width:89px;
  height:10px;
  z-index:10;
  text-align:center;
}

.pagination label {
  display: block;
  padding: 6px;
  background:white;
  border:3px solid white;
  border-radius:50%;
  cursor:pointer;
}

#btn-1:checked ~ .pagination label[for="btn-1"],
#btn-2:checked ~ .pagination label[for="btn-2"],
#btn-3:checked ~ .pagination label[for="btn-3"] {
  background-image: url(../img/active-button.png);
  background-position: center;
  background-repeat: no-repeat;
}

.our_services {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
}

.servicecard {
  max-width: 300px;
}

.servicecard-img {
  width: 300px;
  height: 146px;
  overflow: hidden;
}

.servicecard-img-red {
  background-color: #fb565a;
}

.servicecard-img-green {
  background-color: #00ca74;
}

.servicecard-img-yellow {
  background-color: #efc849;
}

.our_services .servicecard:not(:first-child) {
  margin-left: 99px;
}

.our-services-title {
  margin: 0;
  margin-top: 24px;
}

.servicecard p {
  margin: 0;
  margin-top: 16px;
  color: #283136;
  margin-bottom: 30px;
  max-width: 260px;
}

.orderbutton {
  display: inline-block;
  margin-top: 4px;
  padding: 15px 40px;
  border-radius: 4px;
}

.orderbutton-red {
  background-color: #fb565a;
}

.orderbutton-green {
  background-color: #00ca74;
}

.orderbutton-yellow {
  background-color: #efc84a;
}

.orderbutton-red:hover {
  background-color: #e74246;
}

.orderbutton-red:active,
.orderbutton-red:focus {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 0 #9b2d30 inset;
}

.orderbutton-green:hover {
  background-color: #00bc6c;
}

.orderbutton-green:active,
.orderbutton-green:focus {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 0 #009957 inset;
}

.orderbutton-yellow:hover {
  background-color: #eab534;
}

.orderbutton-yellow:active,
.orderbutton-yellow:focus {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 0 #cb971d inset;
}

.about_us {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 58px;
}

.aboutus-description {
  margin-top: 36px;
  max-width: 670px;
  margin-right: 65px;
}

.aboutus-description h2 {
  margin-bottom: 34px;
}

.aboutus-title {
  margin-top: 38px;
}

.aboutus-list {
  margin-top: 24px;
  padding-left: 0;
}

.aboutus-list li {
  background: url(../img/list-marker.png) no-repeat;
  background-position: bottom 10px left;
  padding-left: 35px;
}

.aboutus-list li:not(:first-child) {
  margin-top: 24px;
}

.our-features {
  margin-top: 40px;
}

.features-imagediv {
  width: 360px;
  height: 208px;
}

.our-features h3 {
  margin-top: 35px;
  margin-left: 16px;
}

.parameters {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.parameters ul {
  display: flex;
  padding-left: 0px;
}

.parameters li {
  max-width: 100px;
}

.parameters li:not(:first-child) {
  margin-left: 18px;
}

.boldnumber-desc {
  margin-top: 10px;
}

.boldnumber1,
.boldnumber2,
.boldnumber3  {
  margin-bottom: 32px;
}

.boldnumber1:after,
.boldnumber2:after,
.boldnumber3:after {
  content: "%";
  position: relative;
  top:-15px;
}

.our_partners {
  max-width: 1160px;
  margin: 0 auto;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.partners-list {
  display: flex;
  margin: 0;
  padding-top: 46px;
  padding-bottom: 33px;
  padding-left: 0;
}

.partners-list div {
  position: relative;
  width: 290px;
}

.partners-list a {
  display: block;
  height: 95px;
}

.partners-list-item-html-academy img {
  margin-top: 17px;
  margin-left: 30px;
}

.partners-list-item-borodinskey img {
  margin-left: 35px;
}

.partners-list-item-pink img {
  margin-top: 19px;
  margin-left: 57px;
}

.partners-list-item-mishka {
  margin-top: 6px;
  margin-left: 73px;
}

.partners-list img {
  opacity: 0.2;
}

.partners-list-item:hover img {
  opacity: 1;
}

.partners-list-item:active img,
.partners-list-item:focus img {
  opacity: 0.1;
}

.partners-list-item-html-academy:after,
.partners-list-item-borodinskey:after,
.partners-list-item-pink:after {
  position: absolute;
  content: url("../img/divide.png");
}

.partners-list-item-html-academy:after {
  top: 19px;
  right: 10px;
}

.partners-list-item-borodinskey:after {
  top: 19px;
  right: 0px;
}

.partners-list-item-pink:after {
  top: 20px;
  right: -10px;
}

.index-map,
.catalog-map {
  position: relative;
  max-width: 1440px;
  height: 416px;
  margin: 0 auto;
  margin-top: 80px;
  background-image:url(../img/map.jpg);
  background-repeat: no-repeat;
  background-color: #eeeeee;
}

.catalog-map {
  margin-top: 0;
}

.index-map iframe,
.catalog-map iframe {
  width: 100%;
  min-width: 1200px;
  border: none;
}

.footer-contact {
  position: absolute;
  top: 13%;
  left: 139px;
  max-width: 319px;
  padding: 35px 50px 47px 50px;
  background-color: #ffffff;
}

.footer-contact h3 {
  margin-top: 14px;
}

.footer-contact p {
  max-width: 210px;
  margin-top: 23px;
}

.footer-contact-tel {
  margin-top: 24px;
  color: #666666;
}

.writeus-button {
  display: block;
  margin-top: 38px;
  padding: 16px 45px;
  background-color: #fb565a;
  border-radius: 4px;
  cursor: pointer;
}

.writeus-button:hover {
  background-color: #e74246;
}

.writeus-button:active,
.writeus-button:focus {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 0 #9b2d30 inset;
}

.footer-social {
  display: flex;
  justify-content: start;
  width: 1160px;
  margin: 0 auto;
  padding-top: 54px;
  padding-bottom: 53px;
}

.social-list {
  display: flex;
  max-width: 450px;
  max-height: 182px;
  padding-left: 0;
}

.social-list-item {
  width: 78px;
  height: 100px;
}

.social-list-item a {
  position: absolute;
  width: 78px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  font-size: 0;
}

.social-list-item-vk a::before,
.social-list-item-facebook a::before,
.social-list-item-instagram a::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.social-list-item-vk a::before {
  background-image: url(../img/vk-icon.svg);
}

.social-list-item-facebook a::before {
  background-image: url(../img/facebook-icon.svg);
}

.social-list-item-instagram a::before {
  background-image: url(../img/instagram-icon.svg);
}

.social-list-item:not(:first-child) {
  margin-left: 12px;
}

.social-list-item a:hover {
  background-color: #e74246;
  cursor: pointer;
}

.social-list-item a:active,
.social-list-item a:focus {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 #c13135;
}

.social-list-item a:active::before,
.social-list-item a:focus::before {
  opacity: 0.3;
}

.invitelink-discount {
  max-width: 545px;
  margin-left: 141px;
}

.friends-discount {
  margin-top: 22px;
  margin-bottom: 0;
}

.percentnumber-discount {
  margin-top: 10px;
}

/* catalog.html */

.shop-title {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-top: 28px;
  padding-bottom: 62px;
  background-color: #eeeeee;
}

.content-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 60px;
}

.content-section {
  width: 760px;
  margin-left: 0;
}

.filters-title {
  margin:0;
}

.range-controls {
  position:relative;
  height: 80px;
  width: 220px;
  margin-top: 47px;
  padding:0 20px;
  background:#f1f1f1;
  border-radius:5px;
  overflow:hidden;
}

.range-controls .scale {
  height:2px;
  margin-top: 39px;
  background:#d7dcde;
}

.range-controls .bar {
  width: 150px;
  height:2px;
  background:#00ca74;
}

.range-controls .toggle {
  position:absolute;
  top: 30px;
  width:4px;
  height:4px;
  background:#ababab;
  border:8px solid white;
  border-radius:50%;
  box-shadow:0 2px 1px 0 #cfcfcf;
  cursor:pointer;
  box-sizing: content-box;
}

.min-toggle {
  left: 19px;
}

.max-toggle {
  right: 80px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  width: 261px;
  margin-top: 13px;
  white-space:nowrap;
}

.price-controls input {
  width:79px;
  padding:8px 0;
  margin-left:9px;
  background:#f1f1f1;
  border:none;
  border-radius:5px;
}

.price-controls .min-price {
  margin-right:14px;
}

.price-controls input:focus{
  outline:none;
}

.range-filter,
.grid,
.features {
  margin: 0;
  padding: 0; 
  border: none;
}

.grid label,
.features label {
  display: block;
  position: relative;
  margin-bottom:15px;
  padding:0 35px;
  cursor: pointer;
}

.grid {
  margin-top: 55px;
}

.filters-title--grid {
  margin-bottom: 14px;
}

.grid-input,
.features-input {
  display:none;
}

.grid-input + span,
.features-input + span {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 25px;
  opacity: 0.4;
  cursor: pointer;
}

.grid-label:hover span,
.features-label:hover span {
  opacity: 0.7;
}

.grid-input + span {
  background: url(../img/radio-off.svg) no-repeat;
}

.grid-input + span:hover,
.grid-input + span:focus {
  background: url(../img/radio-off.svg) no-repeat;
  opacity: 0.7;
}

.grid-input:checked + span {
  background: url(../img/radio-on.svg) no-repeat;
  opacity: 0.4;
}

.grid-input:checked + span:hover,
.grid-input:checked + span:focus {
  background: url(../img/radio-on.svg) no-repeat;
  opacity: 0.7;
}

.grid-input:disabled + span {
  background: url(../img/radio-off.svg) no-repeat;
  opacity: 0.2;
}

.grid-input:checked:disabled + span {
  background: url(../img/radio-on.svg) no-repeat;
  opacity: 0.2;
}

.features {
  margin-top: 29px;
  margin-bottom: 36px;
}

.filters-title--features {
  margin-bottom: 15px;
}

.features-input + span {
  background: url(../img/checkbox-off.svg) no-repeat;
}

.features-input + span:hover,
.features-input + span:focus {
  background: url(../img/checkbox-off.svg) no-repeat;
  opacity: 0.7;
}

.features-input:checked + span {
  background: url(../img/checkbox-on.svg) no-repeat;
  opacity: 0.4;
}

.features-input:checked + span:hover,
.features-input:checked + span:focus {
  background: url(../img/checkbox-on.svg) no-repeat;
  opacity: 0.7;
}

.features-input:disabled + span {
  background: url(../img/checkbox-off.svg) no-repeat;
  opacity: 0.2;
}

.features-input:checked:disabled + span {
  background: url(../img/checkbox-on.svg) no-repeat;
  opacity: 0.2;
}

.filters-btn {
  padding: 16px 88px;
  background: #f1f1f1;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.filters-btn:hover {
  background-color: #dfdfdf;
}

.filters-btn:active,
.filters-btn:focus {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 #bfbfbf;
  color: rgba(0, 0, 0, 0.3);
}

.sorting {
  display: flex;
  justify-content: space-between;
}

.sorting-menu {
  display: flex;
  justify-content: space-between;
  width: 359px;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  width: 271px;
  margin-top: 3px;
  padding: 0;
}

.sorting-menu-item {
  color:#000000;
  opacity: 0.3;
}

.sorting-menu-item-active {
  opacity: 1;
}

.sorting-menu-item:hover {
  opacity: 0.5;
}

.sorting-menu-item:active,
.sorting-menu-item:focus {
  opacity: 1;
}

.sort-icons {
  display: flex;
  justify-content: space-between;
  width: 40px;
  margin-top: 3px;
}

.sort-icons img {
  opacity: 0.2;
}

.sort-btn-active img {
  opacity: 1;
}

.sort-icons img:hover {
  opacity: 0.5;
}

.sort-icons img:active,
.sort-icons img:focus {
  opacity: 1;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 78px;
  padding: 0;
}

.projects li {
  position: relative;
  z-index: 0;
  cursor: pointer;
  list-style-type: none;
}

.project-item:hover,
.project-item:focus-within {
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.20);
}

.projects li:not(:first-child):not(:nth-child(2)) {
  margin-top: 73px;
}

.projects li:before {
  position: absolute;
  top: -38px;
  width: 360px;
  height: 40px;
  content: "";
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  opacity: 0.1;
}

.project-item-img {
  width: 360px;
  height: 576px;
  background-color: #eeeeee;
  overflow: hidden;
}

.project-card {
  position: absolute;
  bottom: 0px;
  width: 360px;
  min-height: 231px;
  max-height: 250px;
  overflow: hidden;
  text-align: center;
  background-color: #eeeeee;
  opacity: 0;
  z-index: 1;
}

.project-card h3 {
  margin-top: 27px;
}

.project-card-description {
  max-height: 35px;
  overflow: hidden;
}

.project-card-description p {
  display: block;
  width: 230px;
  margin: auto;
}

.project-item:first-child p {
  width: 200px;
}

.project-item:nth-child(3) p,
.project-item:nth-child(4) p {
  width: 190px;
}

.project-button {
  display: inline-block;
  vertical-align: middle;
  margin-top: 26px;
  margin-bottom: 40px;
  padding: 16px 60px;
  background-color: #fb565a;
  border-radius: 3px;
}

.project-button:hover {
  background-color: #e74246;
}

.project-button:active,
.project-button:focus {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 #c13135;
}

.project-item:hover .project-card,
.project-item:focus-within .project-card,
.project-item:hover:before,
.project-item:focus-within:before {
  opacity: 1;
}

.project-card-title:hover {
  color: #fb565a;
}

.project-card-title:active,
.project-card-title:focus {
  color: rgba(0, 0, 0, 0.3);
}

.project-button:hover {
  background-color: #e74246;
  color: #ffffff;
}

.projects-pages {
  display: flex;
  width: 443px;
  margin-top: 76px;
  padding: 0;
}

.projects-pages-item {
  list-style: none;
}

.projects-pages-item a {
  padding: 15px 20px;
  background-color: #eeeeee;
  border-radius: 3px;
  cursor: pointer;
  list-style-type: none;
}

.projects-pages-item:not(:first-child) a:hover {
  background-color: #dfdfdf;
}

.projects-pages-item:not(:first-child) a:active,
.projects-pages-item:not(:first-child) a:focus {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 #bfbfbf;
  color: rgba(0, 0, 0, 0.3);
}

.projects-pages-item_active a {
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0px 3px #eeeeee;
}

.projects-pages li:not(:first-child) {
  margin-left: 12px;
}

.projects-pages-item:last-child a {
  padding: 15px 78px;
}

.content-page {
  display:inline-block;
  min-width:50px;
  height: 36px;
  margin:0 3px 0 0;
  padding-top: 14px;
  padding-left: 2px;
  background:#f1f1f1;
  border-radius:3px;
  color: #000000;
}
.content-page:hover {
  background:#e5e5e5;
}
.content-page:active {
  background:#d5d5d5;
  box-shadow:inset 0 4px 0 -2px #b5b5b5;
}
.content-page-active,
.content-page-active:hover,
.content-page-active:active {
  background:#fff;
  border:2px solid #f1f1f1;
}
.content-page-next {
  text-align: center;
  padding-left: 78px;
  padding-right: 78px;
}

.content-page-next {
  color: black;
}

/*popup*/

.popup {
  display: none;
  padding-top: 68px;
  padding-bottom: 85px;
  background: #ffffff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 100;
}

.popup form {
  position: relative;
}

.popup-open {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 960px;
  margin-top: -295px;
  margin-left: -480px;
  animation: bounce 0.6s;
}

.popup fieldset {
  width: 760px;
  margin: 0 auto;
  padding: 0;
  border: none;
}

.popup h3 {
  margin: 0;
}

.form-contacts {
  display: flex;
  justify-content: space-between;
  width: 760px;
}

.input-contacts-wrap {
  width: 360px;
  margin-top: 40px;
}

.form__meet {
  width: 330px;
  height: 42px;
  margin-top: 10px;
  padding-left: 12px;
  padding-right: 14px;
}

.form__meet {
  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.form__meet:hover {
  border: 2px solid #b4b9bb;
}

.form__meet:active,
.form__meet:focus {
  border: 2px solid #000000;
}

.input-text-wrap .form__meet {
  width: 730px;
  height: 30px;
  margin: 0 auto;
  margin-top: 11px;
  padding-top: 8px;
  padding-bottom: 75px;
  resize: none;
}

.form__meet--long::placeholder {
  line-height: 20px
}

.popup-submit {
  margin-top: 33px;
  padding: 17px 84px;
  background-color: #fb565a;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.popup-submit:hover {
  background-color: #e74246;
}

.popup-submit:active,
.popup-submit:focus {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 0 #9b2d30 inset;
}

.close-cross {
  position: absolute;
  top: 11px;
  right: 90px;
  cursor: pointer;
}

.close-cross::before {
  content: url('../img/close-cross.png');
}

.close-cross:hover::before {
  opacity: 0.3;
}

.close-cross:active::before,
.close-cross:focus::before {
  opacity: 0.1;
}

.popup-error {
  animation: shake 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
